<%- include('./partials/header') %>

<main class="container">
  <section class="banner">
      <h1>Crie sua conta</h1>
          <a href='#'>
            <img url="../public/assets/bike.svg" alt="Google">
          </a>
          <a href='#'>
            <img src="../public/assets/facebook.png" alt="Facebook">
          </a>
  </section>
</main>

<%- include('./partials/footer') %>