<%- include('./partials/header') %>

    <main class="form-signin">
        <form>
            <div class="mt-2 d-flex justify-content-center">
                <img  class="mb-4" src="https://fakeimg.pl/30x24/?retina=1&text=Logo" alt="" width="150" height="87" >
            </div>

          <h1 class="h3 mb-3 fw-normal">Faça seu login</h1>
      
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Senha</label>
          </div>
      
          <div class="checkbox mb-3 j-space-between">
            <label>
              <input type="checkbox" value="remember-me"> Lembrar
            </label>
            <a class="" href="/">
                Esqueci minha senha
            </a>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Logar</button>
          <p class="mt-5 mb-3 text-muted text-center">PedalaBike &copy; 2021</p>
        </form>
      
  
</main>


<%- include('./partials/footer') %>