<%- include('./partials/header') %>

<main class="">
  <section class="banner">
      <div class="about-banner-img">
        <!-- <img src="/images/aboutus.jpg" class="img-fluid" alt="Responsive image"> -->
        <div class="about-div-title">
            <p class="about-title">Somos a rede social da sua Bike!</p>

        </div>

      </div>
  </section>
  <section class="conteudo">
      <div class="sobre-conteudo-section">
          <h2>serviços</h2>
          <div class="items">
              <article>
                  <div class="thumb"></div>
                  <h3>banho completo</h3>
                  <h4>R$40,00</h4>
              </article>
            </div>
      </div>
      <div class="sobre-conteudo-section">
          <article>
              <div class="thumb"></div>
              <h3>banho completo</h3>
              <h4>R$40,00</h4>
          </article>
          
      </div>
      <div class="sobre-conteudo-section">
        <article>
            <div class="thumb"></div>
            <h3>banho completo</h3>
            <h4>R$40,00</h4>
        </article>
        
    </div>
    <div class="sobre-conteudo-section">
        <article>
            <div class="thumb"></div>
            <h3>banho completo</h3>
            <h4>R$40,00</h4>
        </article>
        
    </div>

  </section>
  
</main>


<%- include('./partials/footer') %>