:root {
  --primary: #E2AE28;
  --secundary: #00A2AB;
  --green: #00A653; 
  --border: #DCDCDC;
  --red: #df1717;
  --gray: #b9b9b9;
  --lightgray: #555555;
  --lightgrayalt: #9c9c9c;
  --darkgray: #333333;
  --textgray: #4F4F4F;
  --lighttextgray: #808080;
  --black: #000000;
  --lightborder: #EFEFEF;
  --link: #00ADFF;
  --cardbackground: #F6F6F6;
}


body {
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 992px) {
  .footer-info{
    text-align: center;

  }
  .lista-footer{
    justify-content: center;
  }
}

/* PAGINA LOGIN */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.j-space-between {
  display: flex;
  justify-content: space-between;
}
/* HEADER */
.nav-link:hover{
  color: var(--primary) !important;
}



/* PAGINA SOBRE */
.about-div-title{
  background-color: black;
  opacity: 0.8;
  margin-right: 50%;
  margin-left: 5%;
}
.about-title{
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 2rem;
  padding: 5%;
  color: #3E3A3B;
  text-align: center;
}
.about-banner-img{
  padding-top: 15%;
  background-image: url('/images/aboutus.jpg');
  height: 500px;
  background-size: cover;
  max-width: 100%;
}
.sobre-conteudo-section{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.sobre-conteudo-section:nth-child(even) {
  background-color: #ac9a8e ;
}
.sobre-conteudo-section:nth-child(odd) {
  background-color:#e7d6cc;
}

.sobre-equipe-grid{
  display: flex;
  justify-content: center;
  text-align: center;    
}

.sobre-equipe-card{
  /* border: 3px solid red; */

}

.about-profile-pic{
  margin-top: 0.5rem;
  border-radius: 50%;
  max-width: 150px;
}

