body {
}

a {
  color: #00B7FF;
}

@media (max-width: 992px) {
  .footer-info{
    text-align: center;

  }
  .lista-footer{
    justify-content: center;
  }
}

/* PAGINA LOGIN */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.j-space-between {
  display: flex;
  justify-content: space-between;
}

/* PAGINA SOBRE */
.about-div-title{
  background-color: black;
  opacity: 0.8;
  margin-right: 50%;
  margin-left: 5%;
}
.about-title{
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 2rem;
  padding: 5%;
  color: #3E3A3B;
  text-align: center;
}
.about-banner-img{
  padding-top: 15%;
  background-image: url('/images/aboutus.jpg');
  height: 500px;
  background-size: cover;
  max-width: 100%;
}
  .sobre-conteudo-section:nth-child(even) {
    background-color: #ac9a8e ;
    /* background: #e7d6cc;   */
  }
  .sobre-conteudo-section:nth-child(odd) {
    background-color:#e7d6cc;
    /* background: ;   */
  }