<%- include('./partials/header') %>

<main class="">
  <section class="banner">
    <div class="about-banner-img">
      <!-- <img src="/images/aboutus.jpg" class="img-fluid" alt="Responsive image"> -->
      <div class="about-div-title">
        <p class="about-title">Somos a rede social da sua Bike!</p>
      </div>
    </div>
  </section>
  <section class="conteudo">
    <div class="sobre-conteudo-section">
      <div class="container">
        <h2>Acompanhe!</h2>
        <div class="items">
          <article>
            <div class="thumb"></div>
            <h3 class="mb-0">Medições de distância, tempo e performance</h3>
            <h4 class="mb-0">
              Nosso serviço possibilita acompanhar o seu progresso!
            </h4>
          </article>
        </div>
      </div>
    </div>
    <div class="sobre-conteudo-section">
      <div class="container">
        <h2>Compartilhe!</h2>
        <div class="items">
          <article>
            <div class="thumb"></div>
            <h3 class="mb-0">Compartilhe com amigos e sua comunidade!</h3>
            <h4 class="mb-0">Mapas, localização, percursos e muito mais.</h4>
          </article>
        </div>
      </div>
    </div>
    <div class="sobre-conteudo-section">
      <div class="container">
        <h2>Quem somos</h2>
        <div class="row sobre-equipe-grid">
          <div class="col-md-3 sobre-equipe-card">
            <img
              src="https://github.com/danielbrazrocha.png"
              class="about-profile-pic img-fluid"
              alt="Daniel Rocha"
            />
            <a href="https://github.com/danielbrazrocha">
              <h4>Daniel Rocha</h4>
            </a>

            <p>Estudante e desenvolvedor Front-End</p>
          </div>
          <div class="col-md-3 sobre-equipe-card">
            <img
              src="https://github.com/agabitoledo.png"
              class="about-profile-pic img-fluid"
              alt="Daniel Rocha"
            />
            <a href="https://github.com/agabitoledo">
              <h4>Gabrielle Toledo</h4>
            </a>
            <p>Desenvolvedora FullStack</p>
          </div>
          <div class="col-md-3 sobre-equipe-card">
            <img
              src="https://github.com/rafarano.png"
              class="about-profile-pic img-fluid"
              alt="Daniel Rocha"
            />
            <a href="https://github.com/agabitoledo">
              <h4>Raphael Alves</h4>
            </a>
            <p>Desenvolvedora FullStack</p>
          </div>
          <div class="col-md-3 sobre-equipe-card">
            <img
              src="https://github.com/iAmRapha.png"
              class="about-profile-pic img-fluid"
              alt="Daniel Rocha"
            />
            <a href="https://github.com/agabitoledo">
              <h4>Raphael Gonçalves</h4>
            </a>
            <p>Desenvolvedora FullStack</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="sobre-conteudo-section">
        <div class="container">
          <h2>Trabalhe conosco!</h2>
          <div class="items">
            <article>
              <div class="thumb"></div>
              <h4 class="mb-0">Nosso projeto é opensource e está aberto a contribuições. </h4>
            </article>
          </div>
        </div>
      </div>

  </section>
</main>

<%- include('./partials/footer') %>
